body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #FFF1BD;
    overflow: hidden;
}

.topnav a {
    float: left;
    padding: 28px 32px;
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #F3C892;
    color: black;
}

.topnav a.active {
    background-color: #F3C892;
    color: white;
}

.ben {
    height: 75px;
    width: 200px;
}