/*------------------------------------GLOBAL------------------------------------------*/

.topnav {
    background-color: #dcdbdb;
    overflow: hidden;
    min-width: 600px;
}

.topnav a {
    float: left;
    padding: 28px 32px;
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #0488ff;
    color: black;
}

.topnav a.active {
    background-color: #0488ff;
    color: white;
}

.ben {
    height: 79px;
    width: 200px;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#0488ff, #dcdbdb);
}


/*------------------------------------INDEX.html------------------------------------------*/

.logo {
    width: 50%;
    height: 20%;
}

.container {
    margin: 30px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 24px;
    width: 350px;
    height: 350px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
}

.bubble {
    border-radius: 100%;
    height: 400px;
    width: 400px;
    filter: blur(0px);
    transition: transform 0.3s, filter 0.3s ease;
}

.PP {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s ease;
}

.container:hover .bubble {
    filter: blur(5px);
    transform: translateY(-10px);
}

.container:hover .PP {
    opacity: 1;
    visibility: visible;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 10%;
    border-style: solid;
    color: black;
    border-collapse: collapse;
    margin-top: 80px;
    margin-bottom: 50px;
}

.fathr {
    border: 1px solid;
    border-style: dashed;
    width: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*------------------------------------Produits.html------------------------------------------*/

.product {
    width: 300px;
}

table,
tr,
td {
    width: 100%;
    text-align: center;
}

td {
    width: auto;
}


/*------------------------------------Services.html------------------------------------------*/

.main {
    text-align: center;
}

.serv {
    height: 250px;
    width: 600px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: auto;
    margin-right: auto;
}

.serv p {
    width: 100%;
}